<div class="social-button">
  <ul>
    <li></li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center copyright">
    Copyright &copy; g-connection.Co,.Ltd All Rights Reserved
    </div>
  </div>
</div>
