<a href="" class="v4-pre" style="margin-top:80px;">first tag</a>
<div class="jumbotron special">
  <div class="honoka"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 outline">
        <h1>ハッカソン<small>hackathons</small></h1>
        <p>第一産業ハッカソン</p>
        <div class="download">
          <a href="" class="btn btn-warning btn-lg">ボタン1</a>
          <a href="" class="btn btn-primary btn-lg">ボタン2</a>
          <a href="" class="btn btn-warning btn-lg">ボタン3</a>
        </div>
      </div>
    </div>
  </div>
</div>

<aside class="social">
  <div class="social-button">
  </div>
</aside>

<section class="section section-default point">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 subtitle">
        <h2>何かの紹介文１</h2>
        <p>その詳細</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 point-box">
        <div class="point-circle start">
          icon
        </div>
        <div class="point-description">
          <h4>紹介１</h4>
          <p>紹介１の文章</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 point-box">
        <div class="point-circle replace">
          icon
        </div>
        <div class="point-description">
          <h4>紹介２</h4>
          <p>紹介3の文章</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 point-box">
        <div class="point-circle compass">
          icon
        </div>
        <div class="point-description">
          <h4>紹介3</h4>
          <p>紹介3の文章</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 point-box">
        <div class="point-circle japanese">
          icon
        </div>
        <div class="point-description">
          <h4>紹介4</h4>
          <p>紹介4の文章</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-inverse japanese-font">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 subtitle">
        <h2>何かの紹介文２</h2>
        <p>その詳細</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="well bootstrap-default text-justify">
          <h3>何かの説明</h3>
          <p>
          その文章
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well text-justify">
          <h3>何かの説明</h3>
          <p>
          その文章
          </p>
        </div>
      </div>
    </div>
</div>
</section>

<section class="section section-default used-by">
<div class="container">
    <div class="row">
      <div class="col-xs-12 subtitle">
        <h2>さあ、はじめましょう。</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="form-group">
          <a href="" class="btn btn-primary btn-lg">登録する</a>
        </div>
      </div>
    </div>
  </div>
</section>
